<div class="card-row">
    <div class="card-col">
        <nb-card size="medium" status="primary">
            <nb-card-header *ngIf="account$ | async as account">
                <h2 jhiTranslate="password.title" [translateValues]="{ username: account.login }">Password for (<strong>{{ account.login }}</strong>)</h2>
            </nb-card-header>
            <nb-card-body style="padding-top: 50px">
                <div class="error" *ngIf="formError" [innerHTML]="formErrorMsg"></div>
                <input type="password" fullWidth fieldSize="medium" nbInput placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}"
                       name="currentPassword" id="currentPassword" [(ngModel)]="passwordForm.currentPassword" required style="background-color: white">
                <input type="password" fullWidth fieldSize="medium" nbInput placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                       name="newPassword" id="newPassword" [(ngModel)]="passwordForm.newPassword" required style="background-color: white">
                <input type="password" fullWidth fieldSize="medium" nbInput placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                       name="confirmPassword" id="confirmPassword" [(ngModel)]="passwordForm.confirmPassword" required style="background-color: white">
                <button nbButton status="primary" type="submit" [disabled]="!passwordForm.currentPassword || !passwordForm.newPassword
                    || !passwordForm.confirmPassword "  (click)="changePassword()">
                    <nb-icon icon="checkmark-outline"></nb-icon>
                    &nbsp;<span jhiTranslate="password.form.button">Save</span>
                </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>
