<nb-card style="width: 50%; margin:0 auto !important;">
    <nb-card-header>Fonctionnement de l'Espace Membres</nb-card-header>
    <nb-card-body>
        <p style="text-align: justify;">
            <b>Discuter avec d'autres membres</b><br><br>
            L'espace membres dans lequel vous vous trouvez, vous permettra de discuter avec les autres membres autour de
            sujets de discussions créés à cet effet. Pour commencer à discuter, sélectionnez un sujet dans la zone "Les
            sujets du moment" et cliquez sur "Commenter" dans le sujet choisi. Le chat à droite s'activera et vous pourrez
            commencer à discuter.
        </p>
        <p style="text-align: justify;">
            <b>Créer un sujet de discussion</b><br><br>
            Cliquez sur l'icône "+" dans la barre de recherche de l'espace membres et laissez vous guider.
        </p>
        <p>
            <img  src="../../../content/images/naniz-tuto.gif" alt="naniz" style="width: 100%;"/>
        </p>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton (click)="close()">fermer</button>
    </nb-card-footer>
</nb-card>
