<div class="card-row">
    <div class="card-col">
        <nb-card size="medium" [nbSpinner]="loading" nbSpinnerStatus="info" status="primary">
            <nb-card-header>
                <h3 jhiTranslate="reset.request.title" class="blue-color">Reset your password</h3>
            </nb-card-header>
            <nb-card-body style="padding-top: 50px">
                <div class="error" *ngIf="formError" [innerHTML]="formErrorMsg"></div>
                <input type="email" fullWidth fieldSize="medium" nbInput placeholder="{{ 'global.form.email.placeholder' | translate }}"
                       name="email" id="email" [(ngModel)]="resetRequestForm.email" required style="background-color: white">
                <button nbButton status="primary" type="submit" [disabled]="!resetRequestForm.email"  (click)="requestReset()">
                    <nb-icon icon="person-add-outline"></nb-icon>
                    &nbsp;<span jhiTranslate="reset.request.form.button">Register</span>
                </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>
